@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Hamburger values */
  --hamburger-line-height: 2px;
  --gap-between-lines: 6px;
  --hamburger-translate: calc(
    calc((var(--gap-between-lines) / 2) + (var(--hamburger-line-height) / 2))
  );
}

body {
  @apply text-black-500 font-sans;
}

.overlay {
  @apply absolute top-0 left-0 w-screen h-screen bg-black-500/30;
}

/* @layer utilities {} */
