@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-outline-white {
    -webkit-text-stroke: 1px #fff;
  }
}

:root {
  --header-height: 64px;
  /* Hamburger values */
  --hamburger-line-height: 2px;
  --gap-between-lines: 6px;
  --hamburger-translate: calc(
    calc((var(--gap-between-lines) / 2) + (var(--hamburger-line-height) / 2))
  );
}

@media screen and (min-width: 1024px) {
  :root {
    --header-height: 80px;
  }
}

html {
  @apply scroll-smooth;
}

body {
  @apply bg-black-500 font-sans text-gray-100;
}

.overlay {
  @apply absolute left-0 top-0 h-screen w-full bg-black-500/30;
}
